<h2>Employee Login</h2>
<form  [formGroup]="loginForm" (ngSubmit)="loginSubmit()">
    <div class="form-group">
        <label for="username">username address</label>
        <input type="username" class="form-control" id="username" placeholder="Enter username" formControlName="username">
      <div *ngIf="loginForm.get('username')?.touched&&loginForm.get('username')?.invalid">
        <small style="color:red" *ngIf="loginForm.get('username')?.errors?.['required']">
            Username address is required.

        </small>
        <small style="color:red" *ngIf="loginForm.get('username')?.errors?.['pattern']">
            Username address is incorrect.
        </small>
    </div>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" formControlName="password">
        <div *ngIf="loginForm.get('password')?.touched&&loginForm.get('password')?.invalid">
            <small style="color:red" *ngIf="loginForm.get('password')?.errors?.['required']">
                Password is required.

            </small>
          </div>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Submit</button>
</form>
  
